parameters:

    paths:
        - src
        - tests

    # The level 9 is the highest level
    level: 5

    ignoreErrors:
        - '#(getKeyName\(\)|getQualifiedKeyName\(\)) should be covariant with return type \(string\)#'
        - '#primaryKey \(string\) does not accept default value of type array<int, string>#'

    excludePaths:

    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    checkAlwaysTrueInstanceof: true
    reportMaybesInMethodSignatures: true
    reportStaticMethodSignatures: true
    checkUninitializedProperties: true
    checkDynamicProperties: true
    reportAlwaysTrueInLastCondition: true
    reportWrongPhpDocTypeInVarTag: true
    checkMissingCallableSignature: true